
 header.masthead 
 {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../../assets/landing/img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
header.masthead hr 
{
  margin-top: 30px;
  margin-bottom: 30px; 
}
header.masthead h1 
{
  font-size: 2rem; 
}
header.masthead p 
{
  font-weight: 300; 
}

@media (min-width: 768px) 
{
  header.masthead p 
  {
    font-size: 1.15rem; 
  }
}

@media (min-width: 992px) 
{
  header.masthead 
  {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0; 
  }
  header.masthead h1 
  {
      font-size: 3rem; 
  } 
}

@media (min-width: 1200px) 
{
  header.masthead h1 
  {
    font-size: 4rem; 
  } 
}

.btn-xl {
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 10px;
}

section 
{
  padding: 8rem 0; 
}

.section-heading 
{
  margin-top: 0; 
}

::-moz-selection 
{
  color: #fff;
  background: #212529;
  text-shadow: none; 
}

.app-footer {
  background-color: #212529;
  color: gray;
  padding: 2em;
  font-size: 70%;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  text-overflow: ellipsis;
  white-space: nowrap;
}
